.ql-editor {
  min-height: 150px;
}

.edit-file-modal .ql-editor {
  max-height: 300px;
}

.ql-editor iframe, .ql-editor video {
  max-width: 560px;
  min-height: 315px;
}

.ql-editor img {
  max-height: 630px;
  object-fit: contain;
}
 #toolbar {
   display: flex;
   flex-wrap: wrap;
 }

#toolbar button{
  margin: 3px;
}